<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'btn-sidenav-demo'">
  <mz-sidenav-header>
    <h5>Sidebar</h5>
  </mz-sidenav-header>
  <hr >
  <mz-sidenav-collapsible>
    <mz-sidenav-collapsible-header>
      <a href="#">
        <i mz-icon-mdi [icon]="'home'" [size]="'24px'" [align]="'center'" class="header-icon"></i> OrderBook
      </a>
    </mz-sidenav-collapsible-header>
    <mz-sidenav-collapsible-content>
      <span *ngFor="let item of sidebarMenu">
        <mz-sidenav-link >
          <a routerLinkActive="light-blue darken-3" >{{item.name}}</a>
        </mz-sidenav-link>
      </span>

    </mz-sidenav-collapsible-content>
    <mz-sidenav-collapsible-header>
      <a href="#">
        <i mz-icon-mdi [icon]="'android'" [size]="'24px'" [align]="'center'" class="header-icon"></i> Planing Data
      </a>
    </mz-sidenav-collapsible-header>
    <mz-sidenav-collapsible-header>
      <a href="#">
        <i mz-icon-mdi [icon]="'history'" [size]="'24px'" [align]="'center'" class="header-icon"></i> Purchase Orders
      </a>
    </mz-sidenav-collapsible-header>
  </mz-sidenav-collapsible>
</mz-sidenav>
