
:host /deep/ .container {
    width: 90%;
}

/* FOR THE collapsible-header */
:host /deep/ div.card{
  margin-left: 10px;
  margin-right: 10px;
  padding:10px !important;
  font-size: 12px !important;
}

:host /deep/ div.collapsible-header{
  background-color: #eeeeee;
}

:host /deep/ .head {
  height: 48px !important;
  font-weight: bolder !important;
  font-size: 30px !important;
  color: #000000 !important;
}

:host /deep/ div.collapsible-header.active{
  background-color: #e0e0e0;
}

:host /deep/ div.collapsible-body{
  padding: 10px !important;
}

:host /deep/ blockquote {
  font-size: large;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
/* FOR THE collapsible-header */

:host /deep/ div.boxed-section {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCCCCC;
    padding: 10px;
    border-radius: 3px;
    margin:10px;
}

:host /deep/ div.filter_head {
  background-color: #f2f2f2;
  margin-bottom: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 850px;
}

:host /deep/ [type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #01579b;
    background-color: #337AB7;
}

:host /deep/ [type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid #01579b;
}

html, body {
  margin:0;
  height:100%;
  padding-bottom:100px;
}

:host /deep/ mz-collapsible-item-header > .row {
    margin-bottom: 0px !important;
}

:host /deep/ blockquote {
  margin: 0px 0px 0px -30px !important;
  font-size: 17.5px;
  padding: 0rem 0rem 0rem 1.5rem !important
}




/*.off-canvas__nav {*/


/*-webkit-transform: translate3d(0, 0, 0) translateX(-200px);*/


/*-ms-transform: translate3d(0, 0, 0) translateX(-200px);*/


/*-moz-transform: translate3d(0, 0, 0) translateX(-200px);*/


/*-o-transform: translate3d(0, 0, 0) translateX(-200px);*/


/*transform: translate3d(0, 0, 0) translateX(-200px);*/


/*-webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*-ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*-moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*-o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*}*/


/*.off-canvas__content {*/


/*-webkit-transform: translate3d(0, 0, 0) translateX(0);*/


/*-ms-transform: translate3d(0, 0, 0) translateX(0);*/


/*-moz-transform: translate3d(0, 0, 0) translateX(0);*/


/*-o-transform: translate3d(0, 0, 0) translateX(0);*/


/*transform: translate3d(0, 0, 0) translateX(0);*/


/*-webkit-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*-ms-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*-moz-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*-o-transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*transition: all 0.3s cubic-bezier(0.16, 0.63, 0.45, 0.98);*/


/*}*/


/*.is-off-canvas-opened .off-canvas__nav {*/


/*-webkit-transform: translate3d(0, 0, 0) translateX(0);*/


/*-ms-transform: translate3d(0, 0, 0) translateX(0);*/


/*-moz-transform: translate3d(0, 0, 0) translateX(0);*/


/*-o-transform: translate3d(0, 0, 0) translateX(0);*/


/*transform: translate3d(0, 0, 0) translateX(0);*/


/*}*/


/*.is-off-canvas-opened .off-canvas__content {*/


/*-webkit-transform: translate3d(0, 0, 0) translate(200px);*/


/*-ms-transform: translate3d(0, 0, 0) translate(200px);*/


/*-moz-transform: translate3d(0, 0, 0) translate(200px);*/


/*-o-transform: translate3d(0, 0, 0) translate(200px);*/


/*transform: translate3d(0, 0, 0) translate(200px);*/


/*}*/


/*.off-canvas__container {*/


/*position: relative;*/


/*}*/


/*.off-canvas__nav {*/


/*background-color: #002B52;*/


/*color: white;*/


/*position: absolute;*/


/*left: 0;*/


/*top: 0;*/


/*width: 200px;*/


/*height: 100%;*/


/*-webkit-user-drag: none;*/


/*}*/


/* Menu */

.menu-ul {
    text-align: center;
    margin-left: 120px;
}

.menu-li {
    float: left;
    list-style: none;
    color: white;
    padding: 13px 15px;
    height: 45px;
    font-size: 12px !important;
}

.menu-li:hover {
    background-color: #1965A8;
    cursor: pointer;
}

.active .menu-li {
    background-color: #1965A8;
}


/* ------ */


/* Data Tables */

table.fixedHeader-floating {
    position: fixed !important;
    background-color: white
}

table.fixedHeader-floating.no-footer {
    border-bottom-width: 0
}

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}

.aspenDT {}

.odd {
    background-color: #F2F2F2;
}

.datatable { height: 800px; }

.even {
    background-color: #FFF;
}

.aspenDT th {
    background-color: #417EB4;
    color: #FFF;
    padding: 5px;
}

.aspenDT tr:hover {
    background-color: #d8dde9;
    cursor: pointer;
}

.boxed-section {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border: 1px solid #CCCCCC;
    padding: 10px;

}
/* my styling starts here for filter */
.filter_head {
  background-color: #f2f2f2; margin-bottom: 15px; padding-bottom:0px; padding-top:0px; min-width: 850px;
}

.row1 {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 10px;
}
.row2 {
  padding-left: 20px;
  font-size: 10px;
}
.items {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}
.items2 {
  margin-right: 20px;
  width:400px;
}
itemC {
  width: 130px;
}

filterb {
  margin-top: 11px;
  margin-right: 20px;
  width:100px;
}
/* Forecast Grid Colors */

.fc-color_firmPeriod {
    background-color: #CBBCD6!important;
    /*FP*/
}

.fc-color_error {
    background-color: #ED6174!important;
    /*ER*/
}

.fc-color_warning {
    background-color: #AB9741!important;
    /*W*/
}

.fc-color_changeRequest {
    background-color: #36BF3A!important;
    /*CR*/
}

.fc-color_outsideLeadTime {
    background-color: #F4BA70!important;
    /*OLT*/
}


/*.fc-color_distributorLeadTime{
    background-color: #CBBCD6;
    background-image: -webkit-linear-gradient(left, #CBBCD6 0%, #CBBCD6 50%, #F4BA70 50%, #F4BA70 100%);
    background-image: -moz-linear-gradient(left, #CBBCD6 0%, #CBBCD6 50%, #F4BA70 50%, #F4BA70 100%);
    background-image: -ms-linear-gradient(left, #CBBCD6 0%, #CBBCD6 50%, #F4BA70 50%, #F4BA70 100%);
    background-image: -o-linear-gradient(left, #CBBCD6 0%, #CBBCD6 50%, #F4BA70 50%, #F4BA70 100%);
    background-image: linear-gradient(right, #CBBCD6 0%, #CBBCD6 50%, #F4BA70 50%, #F4BA70 100%);
}*/

.fc-font_warning {
    color: #AB9741;
    font-weight: bold;
}

.fc-font_change {
    color: #36BF3A!important;
    /*W*/
    font-weight: bold;
}


/* Comment Icons */

.fc-comment_iconEmpty {
    left: 5px;
    top: 5px;
    color: #c5c5c5;
    cursor: pointer;
}

.fc-comment_iconEmpty:hover {
    color: #dadada;
}

.fc-comment_icon {
    left: 5px;
    top: 5px;
    color: #5CB85C;
    cursor: pointer;
}

.fc-comment_icon:hover {
    color: #8AE68A;
}


/* PO Icons */

.fc-po_icon {
    left: 30px;
    bottom: 1px;
    border-radius: 50%;
    border: 1px solid #1e376d;
    color: #1e376d;
    font-size: 8px;
    font-weight: bold;
    padding: 2px;
    /*position: relative;*/
}

.fc-po_icon:hover {
    cursor: pointer;
    background-color: #4265b1;
    color: white;
}


/* Overrides */

.modal-lg {
    width: 933px;
    margin: 30px auto;
    overflow-y: scroll;
}

.modal-dialog-lg {
    width: 900px;
    margin: 30px auto;
}


/* Drop down Menu Item*/

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0px;
    left: -13px;
    top: 15px;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 99;
}

.aspen_sectionHeading {
    font-size: 12px;
    text-decoration: underline;
    -moz-text-decoration-color: #1e376d;
    /* Code for Firefox */
    text-decoration-color: #1e376d;
    display: inline;
}



.sidebar {
    position: absolute;
    top: 0;
    left: -260px;
    ;
    transition: 100ms left;
    z-index: 9999;
    height: 100%;
    background-color: #444;
}

#navigation-toggle {
    position: absolute;
    left: 160px;
    background: rgba(3, 159, 244, .95);
    color: white;
    text-decoration: none;
    padding: 20px;
    z-index: 9999;
}

.show {
    left: 0;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9999;
}

.navigation-items a {
    display: block;
    background-color: #444;
    color: white;
    line-height: 2em;
    text-decoration: none;
    padding: 10px 30px;
    width: 200px;
}

.navigation-items a:hover {
    background-color: #222;
}


/* Progress Bar*/


/*.loading-dialog {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0 ) url('../img/ripple.svg') 50% 50% no-repeat;
}*/

.colorBad {
    background-color: #ffd9d9;
}

.colorGood {
    background-color: #baffba;
}

.filter_head {
  background-color: #f2f2f2;
  margin-bottom: 15px;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 850px;
}

.row1 {
  padding-left: 15px;
  padding-top: 5px;
  font-size: 10px;
}

.row2 {
  padding-left: 15px;
  font-size: 10px;
  margin-bottom: 3px;
}

.items {
  display: inline-block;
  width: 130px;
  font-size: 10px;
  margin-right: auto;
  margin-left: auto;
}

.labels {
  margin-bottom: 3px;
}

.inputs {
  width: 130px;
}
.input {
  width: 150px;
}
.datepicker {
  display: inline-block;
  width: 150px;
  font-size: 10px;
  margin-right: auto;
  margin-left: auto;
}

.dateRange {
  display: inline-block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
.rangeInput {
  width: 200px;
}
.customer {
  display: inline-block;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.customerInput {
  width: 400px;
}
.inputs2 {
  width: 330px;
}
.items2 {
  display: inline-block;
  width: 330px;
  margin-right: 0px;
}

itemC {
  width: 130px;
}

filterb {
  margin-top: 11px;
  margin-right: 20px;
  width: 100px;
}

.main_head {
  background: #417eb4;
  width: 100%;
  height: 40px;
  color: #f2f2f2;
  padding-top: 2px;
  font-weight: bold;
  margin-bottom: 10px;
}

.main_container {
  border: 1px solid #417eb4;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
  min-height:100%;
  position:relative;
}

.back_btn {
  float: left;
  margin-left: 20px;
}

.revice_btn {
  float: right;
  margin-bottom: 5px;
  margin-right: 20px;
}

.ngx-datatable.material.myRow.datatable-row-odd {
      /*ngx header backround*/
      color:red!important;

}
.testing-css{
     color:red;
     background-color:yellow;
   }
