/* You can add global styles to this file, and also import other style files */
.loading-dialog {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0 ) url('./assets/img/ripple.svg') 50% 50% no-repeat;
}
