<!--mz-modal [fixedFooter]="true">
    <mz-modal-header>
        <h4>User Details</h4>
        <hr style="width: 100%;">
    </mz-modal-header>

    <mz-modal-content>
        <mz-modal-content>
            <form #form="ngForm" novalidate>
                <div class="dotted">
                    <div class="row">
                     
                        <div class="col s4 m6 l4  xl6">
                            <input mz-input [label]="'Email Address'" type="email" [(ngModel)]="email" name="email" inline="true" required></div>
                    </div>



                    <div class="row">
                      
                        <div class="col s4 m6 l6  xl6">
                            <input mz-input [label]="'Cell Number'" type="text" [(ngModel)]="cell" name="cell" inline="true" required>
                        </div>
                    </div>
                    <div class="row">
                     
                        <div class="col s4 m6 l4  xl6">
                            <mz-select-container>
                                <select mz-select [label]="'Preferred Language'" [placeholder]="'Select Preferred Language'" [(ngModel)]="languge" name="language" required>
                  <option data-icon="assets/select-icon-3.jpg" class="left circle" ngValue='EN'>English</option>
              </select>
                            </mz-select-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4 m6 l4  xl6">
                            <mz-select-container>
                                <select mz-select [label]="'Preferred Language'" [placeholder]="'Select Business Entity'" [(ngModel)]=entity name="language" required>
                  
              </select>
                            </mz-select-container>
                        </div>
                    </div>
                </div>
            </form>
        </mz-modal-content>

    </mz-modal-content>
    <mz-modal-footer>
        <button mz-button [flat]="false" (click)="updatePreference()" mz-modal-close>Save</button>
        <button mz-button mz-modal-close [flat]="true" style="float:left;">close</button>
    </mz-modal-footer>
</mz-modal -->

<mz-modal [fixedFooter]="true">
    <mz-modal-header>
        User Details
        <hr />
    </mz-modal-header>
    <mz-modal-content>
        <form #form="ngForm" novalidate>
            <div class="row">
                <div class="col s4 m3 l6 xl6">
                    <mz-input-container>
                        <input mz-input [label]="'Email Address'" [(ngModel)]="email" [validate]="true" name="email" inline="true" type="email" required>
                    </mz-input-container>
                </div>
                <div class="col s4 m3 l6 xl6">
                    <mz-input-container>
                        <input mz-input [label]="'Cell Number'" type="text" [(ngModel)]="cell" name="cell" inline="true" placeholder="Enter Cell Number" required>
                    </mz-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col s4 m3 l6 xl6">
                    <mz-select-container>
                        <select mz-select [label]="'Preferred Language'" [placeholder]="'Select Preferred Language'" [(ngModel)]="languge" name="language" required>
                  <option  class="left circle" value='EN' selected>EN</option>
              </select>
                    </mz-select-container>
                </div>
                <div class="col s4 m3 l6 xl6">
                    <mz-select-container>
                        <select mz-select [label]="'Business Entity'" [placeholder]="'Select Business Entity'" [(ngModel)]=entity name="language" required>
                          <option *ngFor="let ent of allCompany" value='{{ent.companyPk}}'>{{ent.companyCode}}</option>
              </select>
                    </mz-select-container>

                </div>
            </div>
        </form>
    </mz-modal-content>

    <mz-modal-footer>
        <button mz-button class="green" [disabled]="!form.valid" mz-modal-close (click)="updatePreference()">Update</button>
        <button mz-button [flat]="true" mz-modal-close style="float: left;">Close</button>
    </mz-modal-footer>

</mz-modal>