:host /deep/ .modal-content {
    padding: 0px !important;
}

:host /deep/ .modal {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	font-size: 12px !important;
}

:host /deep/ .mz-modal-header {
    width: 40% !important;
    margin-left: 10px !important;
}

:host /deep/ .dotted {
    padding: 5px;
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: -90%;
    margin-left: 10px;
    margin-right: 10px;
}

:host /deep/ .modal-head {
    color: #f2f2f2;
    padding-left: 15px;
    padding-top: 2px;
    margin-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 18px;
    font-family: inherit !important;
    font-weight: lighter;
    vertical-align: middle;
    text-align: center;
    padding-top: 6px;
}
:host /deep/ .select-wrapper input.select-dropdown {
  font-size: 12px !important;
}