<mz-navbar navbarClass="light-blue darken-4">
    <a href="#" class="brand-logo" [id]="'btn-sidenav-demo'"><img [src]="navBarLogo" style="width: 70px;"></a>
    <!--<ul id="dropdown1" class="dropdown-content">
        <li><a href="javascript:void(0)">one</a></li>
        <li><a href="javascript:void(0)">two</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)">three</a></li>
    </ul>-->
    <mz-navbar-item-container [align]="'left'">
        <span *ngFor="let item of navbarMenu?.current">
      <mz-navbar-item *ngIf="isShowItem(item.name)" >
        <a *ngIf="item.type=='I'" routerLink={{item.path}} routerLinkActive="light-blue darken-3" [queryParams]="getQueryParam()">{{item.name}}</a>
        <a *ngIf="item.type=='E'" [attr.href]=getHREFParam(item.path)  [ngClass]="{'header-menu-item-selected' : item.name == 'Administration'}"
>{{item.name}}</a>
      </mz-navbar-item>
      
    </span>
    </mz-navbar-item-container>
    <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item>
            <label class="label-nav">Company:</label>
        </mz-navbar-item>
        <mz-navbar-item>
            <label class="label-blank"></label>
        </mz-navbar-item>
        <mz-navbar-item>
            <select class="btn dropdown header-dropdown" style="padding-top: 2px;" [ngModel]="busEntitySelected" (ngModelChange)="onChange($event)">
        <option *ngFor="let entity of businessEntities" class="header-dropdown"
                [selected]="entity.companyPk==busEntitySelected" value="{{entity.companyPk}}">{{entity.companyName}}
        </option>
      </select>
        </mz-navbar-item>
        <mz-navbar-item>
            <label class="label-blank"></label>
        </mz-navbar-item>
        <mz-navbar-item><i mz-icon-mdi [icon]="'account'" [size]="'24px'" class="header-icon" id="btn-dropdown-demo"></i></mz-navbar-item>
        <mz-dropdown [id]="'dropdown-demo'" [dropdownButtonId]="'btn-dropdown-demo'" [align]="'left'" [dropdownButtonId]="'btn-dropdown-demo'" [gutter]="true">
            <mz-dropdown-item><a style="margin-left: 7px;" (click)="userModal()">User Preferences</a></mz-dropdown-item>
            <mz-dropdown-item>
                <form method="POST" ngNoForm action="/../i1Login/ibm_security_logout" name="logout">
                    <!--input type="HIDDEN" name="logoutExitPage" value="/login.html"-->
                    <input type="HIDDEN" name="logoutExitPage" value="/../GSCPWeb/">
                    <input type="submit" style="margin-left: 7px;" name="logout" value="Logout">
                </form>
            </mz-dropdown-item>

        </mz-dropdown>
    </mz-navbar-item-container>
</mz-navbar>