.header-menu-item-selected {
    background-color: #1965A8 !important;
}

a.brand-logo {
    padding-top: 2px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    float: left;
}

:host /deep/ .dropdown-content {
    width: 180px !important;
}

:host /deep/ .dropdown-content li>a {
    color: #23527c !important;
    width: 150px !important;
	font-size: 15px !important;
	padding: 0px;
}

:host /deep/ .active {
    top: 0px !important;
    width: auto !important;
}

:host /deep/ .dropdown-content {
    margin-top: 45px !important;
}

i.header-icon {
    position: relative;
    float: right;
    padding-right: 10px;
}

.label-nav {
    font-size: 12px !important;
    color: white;
    font-weight: bold;
}

.label-blank {
    padding-right: 10px;
}

 :host /deep/ nav ul a {
    transition: none;
    font-size: 12px !important;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    text-decoration: none;
}

:host /deep/ .btn {
    text-decoration: none;
    color: #fff;
    background-color: #337AB7;
    text-align: left;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    border-radius: 3px;
    height: 26px;
    line-height: 26px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

select.header-dropdown {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 12px !important;
    /* font-weight: bold; */
    height: 26px;
    background-color: #337AB7;
    border: #2E6DA4 1px solid;
    border-radius: 3px;
    width: 80px;
    padding: 10px 5px 0px 10px;
}

option.header-dropdown {
    color: DimGrey;
    font-family: Roboto, sans-serif;
    font-size: 12px !important;
    background-color: #FFFFFF;
    border: grey 1px solid;
}

:host /deep/ nav {
    height: 40px;
    line-height: 40px;
}

:host /deep/ nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
    height: 40px;
    line-height: 40px;
}

:host /deep/ .select-wrapper {
    color: white;
    font-size: 12px !important;
    background-color: #337AB7;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    margin: 6px 0px 0px 6px;
    width: 60px;
}

:host /deep/ input.select-dropdown {
    /* background-color: #337AB7;  */
    border: #2E6DA4 1px solid;
    height: 24px;
    line-height: 24px;
    width: 54px;
    border-radius: 4px;
    padding-left: 5px;
    margin: 0px;
    /* top: 30px; */
}

:host /deep/ .active {
    top: 28px;
    width: 60px;
}

:host /deep/ ul.active {
    border: #2E6DA4 1px solid;
    border-radius: 4px;
    top: 28px;
    width: 60px;
}

:host /deep/ .dropdown-content {
    min-width: 60px !important;
}

:host /deep/ .dropdown-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 30px;
    line-height: 20px;
    width: 100%;
    text-align: left;
    text-transform: none;
}

:host /deep/ .dropdown-content li>span {
    font-size: 12px !important;
    color: dimgrey;
    display: block;
    line-height: 14px;
    padding: 8px 0px 0px 8px;
}

:host /deep/ li span.caret {
    color: whitesmoke;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 10px;
    margin: auto 0;
    font-size: 10px;
    line-height: 10px;
    padding-right: 5px;
}

input[type=submit] {
    border: none;
    padding: 0;
    background: none;
    color: #23527c;
    outline: none;
}

input[type=submit]:hover {
    border: none;
    padding: 0;
    background: none;
    text-decoration: underline;
    color: #23527c;
}