<style>
    .loading {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 0, 0, 0, 0) url('./assets/img/ripple.svg') 50% 50% no-repeat;
    }
</style>
<span *ngIf="isLoading" class="loading"></span>

<div *ngIf="showTasks==false">
    <ngx-datatable #table [rows]="inboxTask" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" style="margin-top: 1%;">
        <ngx-datatable-column name="Transaction Type" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.groupName}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="For Approval" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="selectedTsk(row)" style="cursor:pointer;">{{row.openItems}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Approved" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="selectedApproved(row)" style="cursor:pointer;">{{row.approvedItems}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Rejected" [sortable]="false">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="selectedReject(row)" style="cursor:pointer;">{{row.rejectedItems}}</a>
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>




<div *ngIf="selectedTask && showTasks==true">


    <div *ngIf="selectedTask.groupName=='Emergency Order'">
        <div class="row">
            <button (click)="switchPage()" mz-button class="orange" style="float:left;" float="true">
          <i mz-icon-mdi [align]="'left'" [icon]="'chevron-left'"  [size]="'28px'"></i>
        </button>
            <input type='text' style='margin-right: 15px; width:20%; float: right; display: inline-block;' (keyup)='filterEmergency($event)' placeholder="Type To Filter" />
        </div>
        <div style="font-size:12px; padding-top:5px; background-color:#337AB7; text-align:center; height:30px; width:100%; color:white; margin-top:10px; margin-bottom:-20px; border-top-left-radius:4px; border-top-right-radius:4px;">
            <span><strong>Emergency Purchase Order </strong></span>
        </div>
        <ngx-datatable #table [rows]="emergencyPOGroup" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]=10 style="margin-top: 1%;">
            <ngx-datatable-column name="Task ID" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a style="cursor:pointer;" (click)="selectedFld(row)">{{row.taskId}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Requested By" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedBy}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Name" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.itemCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="PO Number" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.pONumber}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date Requested" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedDate}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>



    <div *ngIf="selectedTask.groupName=='Forecast Change Request'">
        <div class="row">
            <button (click)="switchPage()" mz-button class="orange" style="float:left;" float="true">
          <i mz-icon-mdi [align]="'left'" [icon]="'chevron-left'"  [size]="'28px'"></i>
        </button>
            <input type='text' style='margin-right: 15px; width:20%; float: right; display: inline-block;' (keyup)='filterForecastChange($event)' placeholder="Type To Filter" />
        </div>
        <div style="font-size:12px; padding-top:5px; background-color:#337AB7; text-align:center; height:30px; width:100%; color:white; margin-top:10px; margin-bottom:-20px; border-top-left-radius:4px; border-top-right-radius:4px;">
            <span><strong>Forecast Change Request</strong></span>
        </div>
        <ngx-datatable #table [rows]="forecastChangeReqGroup" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]=10 style="margin-top: 1%;">
            <ngx-datatable-column name="Task ID" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a style="cursor:pointer;" (click)="selectedFld(row)">{{row.taskId}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Requested By" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedBy}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Name" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.itemCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Period Name" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.periodName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date Requested" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedDate}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>



    <div *ngIf="selectedTask.groupName=='Purchase Order Change Request'">
        <div class="row">
            <button (click)="switchPage()" mz-button class="orange" style="float:left;" float="true">
          <i mz-icon-mdi [align]="'left'" [icon]="'chevron-left'"  [size]="'28px'"></i>
        </button>
            <input type='text' style='margin-right: 15px; width:20%; float: right; display: inline-block;' (keyup)='filterPOChange($event)' placeholder="Type To Filter" />
        </div>
        <div style="font-size:12px; padding-top:5px; background-color:#337AB7; text-align:center; height:30px; width:100%; color:white; margin-top:10px; margin-bottom:-20px; border-top-left-radius:4px; border-top-right-radius:4px;">
            <span><strong>Purchase Order Change Request</strong></span>
        </div>
        <ngx-datatable #table [rows]="pOChangeReqGroup" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]=10 style="margin-top: 1%;">
            <ngx-datatable-column name="Task ID" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a style="cursor:pointer;" (click)="selectedFld(row)">{{row.taskId}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Requested By" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedBy}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Name" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.itemCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="PO Number" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.pONumber}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date Requested" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedDate}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <div *ngIf="selectedTask.groupName=='Master Data Change Request'">
        <div class="row">
            <button (click)="switchPage()" mz-button class="orange" style="float:left;" float="true">
          <i mz-icon-mdi [align]="'left'" [icon]="'chevron-left'"  [size]="'28px'"></i>
        </button>
            <input type='text' style='margin-right: 15px; width:20%; float: right; display: inline-block;' (keyup)='filterMaster($event)' placeholder="Type To Filter" />
        </div>
        <div style="font-size:12px; padding-top:5px; background-color:#337AB7; text-align:center; height:30px; width:100%; color:white; margin-top:10px; margin-bottom:-20px; border-top-left-radius:4px; border-top-right-radius:4px;">
            <span><strong>Master Data Change Request </strong></span>
        </div>
        <ngx-datatable #table [rows]="masterDataGroup" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]=10 style="margin-top: 1%;">
            <ngx-datatable-column name="Task ID" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a style="cursor:pointer;" (click)="selectedFld(row)">{{row.taskId}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Requested By" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedBy}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Master Data Type" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.masterDataType}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Filter Value" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.filterValue}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Date Requested" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedDate}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>


    <div *ngIf="selectedTask.groupName=='Sales Order Change Request'">
        <div class="row">
            <button (click)="switchPage()" mz-button class="orange" style="float:left;" float="true">
          <i mz-icon-mdi [align]="'left'" [icon]="'chevron-left'"  [size]="'28px'"></i>
        </button>
            <input type='text' style='margin-right: 15px; width:20%; float: right; display: inline-block;' (keyup)='filterSOChange($event)' placeholder="Type To Filter" />
        </div>
        <div style="font-size:12px; padding-top:5px; background-color:#337AB7; text-align:center; height:30px; width:100%; color:white; margin-top:10px; margin-bottom:-20px; border-top-left-radius:4px; border-top-right-radius:4px;">
            <span><strong>Sales Order Change Request</strong></span>
        </div>
        <ngx-datatable #table [rows]="sOChangeReqGroup" class="material fullscreen striped" style="top: 52px" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]=10 style="margin-top: 1%;">
            <ngx-datatable-column name="Task ID" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a style="cursor:pointer;" (click)="selectedFld(row)">{{row.taskId}}</a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Requested By" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedBy}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerCode}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Customer Name" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.customerName}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Item Code" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.itemCode}}
                </ng-template>
            </ngx-datatable-column>
            <!--<ngx-datatable-column name="SO Number" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.sONumber}}
                </ng-template>
            </ngx-datatable-column>-->
            <ngx-datatable-column name="Date Requested" [sortable]="false">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.requestedDate}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>


<!--Details Modal-->
<mz-modal [fixedFooter]="true" #detailsModal [options]="modalOptions">
    <mz-modal-header>
        {{selectedTask?.groupName}} : Task #{{selectedField?.taskId}}({{processType?.processType}})
        <hr style="width: 100%;">
    </mz-modal-header>

    <mz-modal-content>
        <div style="font-weight: bold; text-align: center;"><label style="color: rgb(33, 150, 243); font-size: 15px; margin-top: 15px;">Task Details</label></div>
        <hr style=" margin-bottom: 15px; border-color: rgb(33, 150, 243);">

        <div class="row">
            <div class="col s2 m3 l5">Requested By</div>
            <div>: {{processType?.requestedBy}}</div>
            <div class="col s2 m3 l5">Task ID</div>
            <div>: {{processType?.taskId}}</div>
            <div class="col s2 m3 l5">Request Type</div>
            <div>: {{processType?.requestType}}</div>
            <div class="col s2 m3 l5">Process Type</div>
            <div>: {{processType?.processType}}</div>
            <div class="col s2 m3 l5">Change Reason</div>
            <div>: {{processType?.changeReason}}</div>
        </div>
        <div style="font-weight: bold; text-align: center;"><label style="color: rgb(33, 150, 243); font-size: 15px; margin-top: 15px;">General Details</label></div>
        <hr style=" margin-bottom: 15px; border-color: rgb(33, 150, 243);">

        <div class="row" *ngFor="let detail of emergencyGroupDetails?.field">

            <div class="col s2 m3 l5">{{detail?.fieldName |translate}}</div>
            <div style="display: inline-block">
                : <span *ngIf="detail.changed==true" style="text-decoration:line-through;text-decoration-color: red;">{{detail?.oldValue}}</span>
                <span style="color: green;">{{detail?.newValue}}</span>
            </div>
        </div>
        <div *ngIf="processType?.processType=='OPEN'">
            <br />
            <mz-textarea-container>
                <textarea mz-textarea [label]="'Comment'" name="comments" [(ngModel)]="comments" id="comment-textarea" placeholder="Enter your comment" length="50"></textarea>
            </mz-textarea-container>
        </div>
    </mz-modal-content>
    <mz-modal-footer>
        <button *ngIf="processType?.processType=='OPEN'" [disabled]="comments==''" mz-button mz-modal-close class="amber accent-4" (click)="rejectTask()">Reject</button>
        <button *ngIf="processType?.processType=='OPEN'" mz-button mz-modal-close class="green" (click)="approveTask()" style="margin-right: 10px;">Approve</button>
        <!-- <button *ngIf="processType?.processType!='OPEN'" mz-button mz-modal-close class="green">OK</button> -->
        <button mz-button mz-modal-close [flat]="true" style="float:left;">close</button>
    </mz-modal-footer>
</mz-modal>