:host /deep/ div.card {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px !important;
	font-size: 12px !important;
}

:host /deep/ .select-wrapper input.select-dropdown {
  font-size: 12px !important;
}