<mz-card
  [backgroundClass]="'white'"
  [textClass]="'black-text'"
  [hoverable]="false">
  <mz-card-title>
    DISCLAIMER & PRIVACY
  </mz-card-title>
  <mz-card-content>
    <div class="disclaimer-content">
                <div class="disclaimer-headers">1.INTRODUCTION</div>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                  <font face="Arial, serif">Welcome to the Aspen Connect website (“</font><font face="Arial, serif"><b>Website</b></font><font face="Arial, serif">”).&nbsp;The terms and conditions for use of this site are set out in this Disclaimer, Website Use and Privacy Agreement, collectively the (“</font><font face="Arial, serif"><b>Agreement</b></font><font face="Arial, serif">”). For purposes of this Agreement, “</font><font face="Arial, serif"><b>Aspen</b></font><font face="Arial, serif">” means, collectively, Aspen Pharmacare Holdings&nbsp;Limited its subsidiaries and/or affiliates.&nbsp;</font></p>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                    <font face="Arial, serif">By accessing and using the Website, you confirm that you have reviewed the terms and conditions of the Agreement (as amended from time to time) and that you accept, unconditionally and without limitation or qualification this Agreement.</font></p>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                    <a name="_Ref346099511"></a><span class="Apple-converted-space">&nbsp;</span><font face="Arial, serif">All users of the Website must obtain Aspen’s prior written approval to use the Website and must register on Aspen’s Global Supply Chain Portal Register. Aspen may grant and/or withdraw the approval contemplated in this clause 1.3, in its sole and absolute discretion and shall not be required to provide any reasons thereof.</font></p>

               <div class="disclaimer-headers">2. PURPOSE</div>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                        <font face="Arial, serif">Certain sections of the Website are intended for particular user audiences:<span class="Apple-converted-space">&nbsp;</span></font><font face="Arial, serif">Aspen’s customers, suppliers, employees, including third parties which may contract with Aspen (collectively, “</font><font face="Arial, serif"><b>Service Provider</b></font><font face="Arial, serif">”).</font></p>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                            <font face="Arial, serif">The purpose of the Website is to provide general information (“</font><font face="Arial, serif"><b>General&nbsp;Information</b></font><font face="Arial, serif">”) in respect to transactions entered into and concluded between Aspen and the Service Provider.</font></p>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                    <font face="Arial, serif">The General Information is provided for no other purpose.</font></p>

                <div class="disclaimer-headers">3. NO REPRESENTATION</div>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                    <font face="Arial, serif">Aspen makes no representations and gives no warrantees about the accuracy nor suitability of the content published on the Website, nor that the services will be free from errors or omissions or that the use of the Website will be uninterrupted. Aspen shall endeavour to ensure that the content is as accurate as possible, however should you rely on the information and technology contained in the Website, then you do so at your own risk.</font></p>
      <div class="disclaimer-headers">4. CONTRACTUAL ARRANGEMENTS</div>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                        <font face="Arial, serif">No information and/or data provided on the Website supersedes, amends and/or varies any of the terms and conditions of written (or verbal) agreements, including purchase orders, Aspen’s standard terms and conditions, technical agreements, quality agreements and confidentiality agreements</font><font face="Arial, serif"><b><span class="Apple-converted-space">&nbsp;</span></b></font><font face="Arial, serif">and<span class="Apple-converted-space">&nbsp;</span></font><font face="Arial, serif"><b>[insert]</b></font><font face="Arial, serif"><span class="Apple-converted-space">&nbsp;</span>entered into and concluded by Aspen and the Service Provider.<span class="Apple-converted-space">&nbsp;</span></font><font face="Arial, serif"><b>[Drafting Note: Comment is required from the relevant business unit(s) within Aspen]</b></font></p>
                  <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                            <font face="Arial, serif">The Service Provider and/or user of the Website is responsible for verifying the accuracy and correctness of the General Information with Aspen.</font></p>

              <div class="disclaimer-headers">5. COPYRIGHT</div>
                <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                      <font face="Arial, serif">The entire content of the Website is subject to copyright protection.&nbsp; None of the<span class="Apple-converted-space">&nbsp;</span></font><font face="Arial, serif">content</font><font face="Arial, serif"><span class="Apple-converted-space">&nbsp;</span>of this Website may be copied other than for non-commercial individual reference, and only if all copyright or other proprietary notices are retained.&nbsp; The information may thereafter not be recopied, reproduced or otherwise redistributed.</font></p>
                <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                          <font face="Arial, serif">You may not otherwise copy, display, download, distribute, modify, reproduce, republish or retransmit any information, text or documents contained in this website or any portion thereof in any electronic medium or in hard copy, or create any derivative work based on such images, text or documents, except as otherwise provided for in terms of the written commercial agreements between Aspen and the Service Provider.</font></p>

                <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                          <font face="Arial, serif">Nothing contained herein shall be construed as conferring by implication, estoppel or otherwise any license or right under any patent or trademark of Aspen, or any third party.&nbsp; If you should link to any third-party websites from the Website, you shall be bound by and undertake to comply with the copyright provisions of each such website.</font></p>

            <div class="disclaimer-headers">6. TRADEMARKS</div>
              <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif">All names, logos, symbols and marks whether or not in large print or with the trademark symbol, are trademarks of Aspen, related companies or its licensors or joint venture partners.&nbsp; Any use of these trademarks or any other materials, except as permitted herein, is expressly prohibited and may violate copyright law, trademark law, the law of slander and libel, the law of privacy and publicity, and communications regulations and statutes.&nbsp; Further, please be advised that Aspen actively and aggressively enforces its intellectual property right to the fullest extent of the law.</font></p>

             <div class="disclaimer-headers">7. THIRD PARTY WEBSITES AND LINKS</div>
              <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif">The Website may contain links or references to other websites maintained by third parties over whom Aspen has no control.&nbsp; Such links are provided merely as a convenience.&nbsp; Aspen makes no warranties or representations of any kind as to the accuracy, currency, or completeness of any information contained in such websites and shall have no liability for any damages or injuries of any kind arising from such content or information. Inclusion of any third party link in the Website does not imply an endorsement or recommendation by Aspen of such website.</font></p>
      <div class="disclaimer-headers">8. PRIVACY</div>
              <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif">The Website may electronically collect, store and use private information from users. By entering the Website, users hereby consent to the collection, storage and use of this information. Information may be collected electronically by using cookies, or information is&nbsp;collected when it is provided voluntarily by the user. Users may determine cookie use independently through their browser settings. Information so collected shall not be disclosed to any third party unless agreed upon between the user and Aspen, or through due legal process. Users agree that Aspen may from time to time communicate with them; at such time of communication the user will always be given the opportunity to instruct Aspen to remove their details from the mailing list.</font></p>

      <div class="disclaimer-headers">9. LIABILITIES AND INDEMNIFICATION</div>

      <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
            <font face="Arial, serif">Aspen shall bear no responsibility and also disclaims all liability for any claim, loss, cost and expense (including reasonable attorneys’ fees and disbursements), damage or other liability, either directly or indirectly, attributable to the use of this website or reliance upon information provided through the facilities available on this website.&nbsp;</font></p>

      <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif">You agree to indemnify, defend and hold harmless Aspen, its officers, directors, employees, agents, suppliers and third party partners from and against all claims, losses, costs and expenses (including reasonable attorneys’ fees and disbursements), damages and other liabilities, resulting from any violation by you of the Agreement.</font></p>


      <div class="disclaimer-headers">10. CONFIDENTIALITY</div>

      <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
            <font face="Arial, serif">Without derogating form all obligations imposed in terms of confidentiality and non-disclosure agreements concluded between the Service Provider and/or user of the Website and Aspen, you agree not to disclose any confidential information to a third party without Aspen’s prior&nbsp;approval.</font></p>


      <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif">You agree to notify Aspen should you become aware of any misuse/misappropriation of such confidential information.</font></p>


      <div class="disclaimer-headers">11. GENERAL</div>

      <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif"><b>Governing laws</b></font><font face="Arial, serif">&nbsp;– This Agreement and your use of this Website shall be governed by the laws of the Republic of South Africa.&nbsp; Any legal action or proceeding related to this website shall be brought exclusively in the High Courts of the Republic of South Africa.</font></p>
      <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif"><b>Severability</b></font><font face="Arial, serif">&nbsp;– If any provisions of this Agreement are held to be unlawful, void or unenforceable, then such provision shall be severable without affecting the enforceability of all remaining provisions.</font></p>
      <p align="JUSTIFY" dir="ltr" style="color: rgb(34, 34, 34); font-family: Arial, Verdana, sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; orphans: auto; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-size-adjust: auto; -webkit-text-stroke-width: 0px; margin-left: 1cm; margin-bottom: 0cm; line-height: 12px;">
                <font face="Arial, serif"><b>Variation</b></font><font face="Arial, serif">&nbsp;– Aspen reserves the right to alter or delete materials from the Website at any time at its discretion and without notice. Furthermore Aspen reserves the right to amend this Agreement at any time by posting the amended Agreement on the Website. Unless otherwise stated, the current version will apply each time you access the Website.</font></p>

<hr />
      <div style="text-align: center">
      <div class="disclaimer-buttons">
        <div class="row">
          <button mz-button class="red" style="margin-right: 10px;">Decline</button>
          <button mz-button class="green">Accept</button>
        </div>
      </div>
      </div>
      <!--<button mz-button (click)="setChecked()">-->
        <!--button-->
      <!--</button>-->
      <!--<span *ngIf="!isNotChecked">Click me if you wanna see the real me</span>-->
      <!--<span *ngIf="isNotChecked" style="font-weight: bold; color: red;">im just kidding Dude !!!</span>-->
    <!--<div style="width: 150px;">-->
      <!--<mz-select-container >-->
        <!--<select  mz-select>-->
          <!--<option data-icon="assets/select-icon-3.jpg" class="left circle">Option 1</option>-->
          <!--<option data-icon="assets/select-icon-3.jpg" class="left circle">Option 2</option>-->
          <!--<option data-icon="assets/select-icon-3.jpg" class="left circle">Option 3</option>-->
          <!--<option data-icon="assets/select-icon-3.jpg" class="left circle">Option 4</option>-->
        <!--</select>-->
      <!--</mz-select-container>-->
    <!--</div>-->

    </div>
  </mz-card-content>



</mz-card>



